@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
  img {
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
  }
  .section {
    @apply container mx-auto py-[6rem] /* min-h-screen */ px-6;
  }
}
@layer utilities {
  .fullStack {
    @apply relative text-slate-300;
  }
  .fullStack::before {
    @apply content-["FullStackDeveloper..."] absolute text-black border-r-2 border-white top-0 left-0 w-0 h-[100%] overflow-hidden animate-animate;
  }
}
